<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="./css/main.css">
    
</head>
<body>
    <nav>
        <div class="nav-title">
            <h1> Feedback </h1>
        </div>
    </nav>

    <div class="main-home" id="feedback">
        <div class="feedback-user">
            <h2>Feedback for darsh</h2>
            <p>12:00pm | 20th December 2022 </p>
        </div> 
        <div class="feedback-response">

            <div class="feedback-response-inner">
                <h3>Response</h3>
                <div class="response">
                    <p>Q. Where do you see yourself in 5 years?</p>
                    <br>
                    <p>My name is John Doe. I am a Mechanical Engineering final year student at Purdue University. During my time in the program, I developed an interest in various mechanical systems, machine design, and thermodynamics. I have completed an internship at Tata Consultancy Services, where I was exposed to industrial design processes and got hands-on experience in CAD software such as Solidworks and Autocad. I am passionate about problem-solving and enjoy applying my knowledge to real-world scenarios. After graduation, I aspire to work in the research and development field of advanced manufacturing and automation; and use my knowledge and skills to make an impact in the industry and help companies improve their production processes. I also love Robotics, and I have participated in several competitions and have won a few of them.</p>
                </div>
            </div>

            <div class="feedback-response-inner">
                <h3 style="color: var(--m_brown)">Feedback</h3>
                <div class="feedback">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam provident inventore quae rerum quod necessitatibus adipisci in ad est impedit, iusto omnis, facilis voluptatum nemo aperiam vero debitis ut.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam provident inventore quae rerum quod necessitatibus adipisci in ad est impedit, iusto omnis, facilis voluptatum nemo aperiam vero debitis ut.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam provident inventore quae rerum quod necessitatibus adipisci in ad est impedit, iusto omnis, facilis voluptatum nemo aperiam vero debitis ut.</p>
                    <br>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>