<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feedback</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    </head>

    <body>
        <nav>
            <div class="nav-title">
                <h1> Feedback </h1>
            </div>
        </nav>

        <div class="main-home" id="feedback">
            <div class="feedback-user">
                <h2>Feedback for {{responseData["username"]}}</h2>
                <p>{{responseData["time"]}} | {{responseData["date"]}} </p>
            </div>
            <div class="feedback-response">

                <div class="feedback-response-inner">
                    <h3>Response</h3>
                    <div class="response">
                        <p>Q. {{responseData["question"]}}</p>
                        <br>
                        <p>A. {{responseData["responseText"]}}</p>
                    </div>
                </div>

                <div class="feedback-response-inner">
                    <h3 style="color: var(--m_brown)">Feedback</h3>
                    <div class="feedback">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam provident inventore quae
                            rerum quod necessitatibus adipisci in ad est impedit, iusto omnis, facilis voluptatum nemo
                            aperiam vero debitis ut.</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam provident inventore quae
                            rerum quod necessitatibus adipisci in ad est impedit, iusto omnis, facilis voluptatum nemo
                            aperiam vero debitis ut.</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam provident inventore quae
                            rerum quod necessitatibus adipisci in ad est impedit, iusto omnis, facilis voluptatum nemo
                            aperiam vero debitis ut.</p>
                        <br>

                    </div>
                </div>
            </div>

<!--            <div class="feedback-response">-->

                <div class="feedback-response-inner">
                    <h3>Sentence Analysis</h3>
                    {{ responseData["svg_element"]|safe}}
                </div>

                <div class="feedback-response-inner">
                    {{svg_text}}
                </div>
                <div class="feedback-response-inner">
                   <h3>Sentiment Analysis</h3>
                   <img src="{{ url_for('static', filename='feedbackImages/sentiment.png' ) }}"
                           alt="sentiment_analysis">
                </div>


<!--                <div class="feedback-response-inner">-->
<!--                    <h3>Sentiment Analysis</h3>-->
<!--                    <img src="{{ url_for('static', filename='feedbackImages/sentiment.png' ) }}"-->
<!--                        alt="sentiment_analysis">-->
<!--                </div>-->
<!--                <div class="feedback-response-inner">-->
<!--                    <h3>Pace Analysis</h3>-->
<!--                    <img src="{{ url_for('static', filename='feedbackImages/pace.png' ) }}" alt="pace_analysis">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="feedback-response-inner">-->
<!--                <div class="feedback-response-inner">-->
<!--                    <h3>Sentence Analysis</h3>-->
<!--                    {{ responseData["svg_element"]|safe}}-->

<!--                </div>-->
<!--            </div>-->
            <br>
            <br>
            <br>
<!--        </div>-->
        </div>
    </body>

</html>