<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>

  <body>
    <nav>
      <div class="nav-title">
        <h1 style="display: inline-block;">Welcome<span style="color: var(--brown)"> {{ username }} </span></h1>
        <a href="{{ url_for('index') }}">
          <img src={{url_for("static", filename="images/logout.png")}} style="width:42px;height:42px;float:right;margin:50px">
        </a>
      </div>
    </nav>

    <div class="main-home">
      <a href="{{ url_for('practice') }}" class="practice">
        <div class="main-home-inner">
          <img src={{url_for('static', filename='images/Practice.png' ) }}>
          <div class="text">
            <h2>Practice</h2>
            <p>
              Practice for a mock interview by giving responses to frequently
              asked interview questions.
            </p>
          </div>
        </div>
      </a>

      <a href="{{ url_for('review') }}" class="review">
        <div class="main-home-inner">
          <!-- <img src="images/Feedback.png" alt=""> -->
          <img src={{url_for('static', filename='images/Feedback.png' ) }}>
          <div class="text">
            <h2>Review</h2>
            <p>
              Practice for a mock interview by giving responses to frequently
              asked interview questions.
            </p>
          </div>
        </div>
      </a>
    </div>
  </body>

</html>