<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>

  <body>
    <nav>
      <div class="nav-title">
        <h1 style="display: inline-block;">Practice</h1>
        <a href="{{ url_for('home') }}">
          <img src={{url_for("static", filename="images/home.png")}} style="width:42px;height:42px;float:right;margin:50px">
        </a>
      </div>
    </nav>

    <div class="main-home">
      <a href="{{ url_for('recordQuestion', questionID = 1) }}" class="yourself">
        <div class="main-home-inner">
          <img src="{{ url_for('static', filename='images/Yourself.png' ) }}" alt="">
          <div class="text-prac">
            <h2>Tell me about yourself.</h2>
            <p>
              Interviewers ask this at the beginning of an interview. A strong
              and crisp response is required to make a good first impression.
            </p>
          </div>
        </div>
      </a>

      <a href="{{ url_for('recordQuestion', questionID = 2) }}" class="strength">
        <div class="main-home-inner">
          <img src={{url_for('static', filename="images/Strengths.png" ) }} alt="">
          <div class="text-prac">
            <h2>What are your strengths?</h2>
            <p>
              Highlight positive qualities about yourself that align with the
              job description without bragging or boasting.
            </p>
          </div>
        </div>
      </a>

      <a href="{{ url_for('recordQuestion', questionID = 3) }}" class="future">
        <div class="main-home-inner">
          <img src={{url_for('static', filename="images/Future.png" ) }} alt="">
          <div class="text-prac">
            <h2>Where do you see yourself in the future?</h2>
            <p>
              This question is to assess if your long term ambitions align with the company or not.
            </p>
          </div>
        </div>
      </a>
    </div>
  </body>

</html>