<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Record Audio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>

        <div id="speechContainer">
            <h1>Upload new File</h1>
            <form method="post" enctype="multipart/form-data">
                <!-- <input type="file" name="file" /> -->
                <!-- <br> -->
                <input name="record_audio" type="submit" id="submitButton" value="Record Audio" />
            </form>

            {% if transcript != "" %}
            <div id="speechTranscriptContainer">
                <h1>Transcript</h1>
                <p id="speechText">{{ transcript }}</p>
            </div>
            <form method="post">
                <input type="text" value={{transcript}}>
                <input name="submit_btn" type="submit" id="submitButton" value="Submit" />
            </form>
            {% endif %}
        </div>

    </body>



</html>